accelerate
bitsandbytes
loguru==0.7.0
numpy==1.21.4
pandas==1.2.5
tqdm==4.62.3
deepspeed
tensorboard
sentencepiece
transformers_stream_generator
tiktoken
einops
httpx
scipy
mmengine
astunparse==1.6.2
datasets
trl
typing_extensions==4.9.0
